*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.banner
{ width: 100%;
    height: 100%;
    background-size: cover;
    
   
}

.navbar
{
    position:fixed;
height:30px;
width:100%;
padding:6px 0;
letter-spacing: 3px;
background-color:rgb(36, 36, 36);
z-index: 100;
opacity: 80%;
}



.navbar ul li {
    list-style: none;
    
    margin: 0 40px;
    text-decoration: none;
    transition: 0.2s;
    
}

.navbar ul li:hover
{
    opacity: 50%;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    letter-spacing: 5px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 100%;
    
    
}

.navbar ul{
    display: flex;
    justify-content: center;
}

.newproducts{
    display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #090b08;
  column-gap: 80px;
  padding-bottom: 70px;
  padding-top: 70px;
}

.items{
    width: 300px;
  height: 420px; 
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  flex-basis: 20%;
  background: #272727;
  position: relative;
  border-radius: 5px;
  transition: 0.3s;
}

.items img{
    width:280px;
}
.items p{
    color: white;
}

.items h6{
    color: #ffffff;
}

.items:hover
{
    transform:scale(1.03);
    background: black;
    box-shadow: 0 14px 28px rgba(99, 99, 99, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.wintersale{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #eefdff;
  column-gap: 80px;
  padding-bottom: 70px;
  padding-top: 70px;
  
}
.winteritems{

    width: 300px;
  height: 420px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  flex-basis: 20%;
  position: relative;
  border-radius: 5px;
  transition: 0.3s;
  box-shadow: 0 20px 32px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.winteritems:hover
{
    background:rgb(255, 255, 244);
    box-shadow: 0 14px 28px rgba(0, 255, 89, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

}

.winteritems img{
    width:280px;
}


.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #090b08;
    column-gap: 80px;
    width: 100%;
    padding-bottom: 50px;

}

.socials{
    display:flex;
    border-radius: 50%;
    width: 60px;
  height: 60px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
  align-items: center;
  background: black;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  justify-content: center;
}

.socials img
{width:40px;
height: 40px;
}

.socials:hover{
    background-color: white;
    box-shadow: 0 14px 28px rgba(86, 86, 86, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    
}



h5{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color: aqua;
    width: 100%;
    padding-top:80px;
}

.strike
{
    color: #ff3131;
}